.agents/
.gemini/
/.agents
/.gemini
.vscode
linux/hl_cdll_map.txt
linux/release
build
compile_commands.json
thirdparty
.cache/index.db
.cache/index.db-journal
external/imgui
/.cache
.cache/ann/onnx_384_sentence-transformers_all-MiniLM-L6-v2.hnsw.bin
.cache/ann/onnx_384_sentence-transformers_all-MiniLM-L6-v2.hnsw.meta.json
.cache/index.db
